<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Authorisation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div style="text-align: center; background-color: #FF7F50;">
    <h1>Sign up or log in</h1>
</div>
<form method="post" action="employeeAuthorised">
    Name: <input type="text" name="name" id="name"><br>
    Position: <input type="text" name="position" id="position"><br>
    Pizzeria location: <input type="text" name="pizzeriaLocation" id="pizzeriaLocation">
    <button type="submit">Log in</button>
</form>
</body>
</html>